* {
  font-family: "Lexend", "Arial";

  --primary-color: #00b8a9;
  --background-color: #222222;
  /* --background-color: #f4f4f4; */
  --card-color: #363535;
  /* --card-color: #d4d4d4; */
}

.btn-primary,
.bg-primary,
.text-primary {
  background-color: var(--primary-color) !important;
  border: none;
}

.btn-primary:hover {
  background-color: color-mix(
    in srgb,
    var(--primary-color) 90%,
    black 10%
  ) !important;
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

header {
  padding-top: 1rem;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--primary-color);
  font-size: 2.1rem;
}

main {
  flex: 1;
  margin: 1rem;
}

footer div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
