#top-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#top-left {
  position: absolute;
  left: 2rem;
  max-width: 25%;
}

#top-right {
  position: absolute;
  right: 2rem;
  max-width: 25%;
}

#notification {
  position: absolute;
  right: 1rem;
  padding: 6px;
  max-width: 70%;
}

#center-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 14rem);
}

#center-content > div {
  display: flex;
  gap: 12px;
  padding-top: 12px;
}

#center-content img {
  max-width: 90%;
}

.light-blue, .light-blue:hover {
  background-color: #6fa9dd !important;
}

.dark-blue, .dark-blue:hover {
  background-color: #095393 !important;
}

#center-content h3 {
  margin-bottom: 0;
  margin-top: clamp(0px, calc(750px - 100vh), 150px);
}
